
<div class="del_top">
    <div class="d_left"><a href="" onclick="javascript:history(0);"><</a></div>

    <div class="d_right">歌单</div>
</div>

<div id="detail">
    <div class="del_show clearfix">
        <div class="gedan_p" ><img src="images/3302932937405065.jpg"><i>233wan</i></div>
        <div class="d_content">
            <dl>
                <dt id="dt">京东方爱的奇偶覅地方vdfv打开发v将点击胜多负少否 电风扇</dt>
                <dd><i><img src="images/3302932937405065.jpg"></i><span id="span"></span></dd>
            </dl>
        </div>
        <div class="d_bg"></div>
    </div>
    <div class="d_main">
        <div class="play_add"><i>+</i>播放全部</div>

    </div>
</div>
<div id="del_sho" style="display: none">
    <dl>
        <a>
            <dt>21</dt>
            <dd class="dd1">歌名</dd>
            <dd class="dd2">作者</dd>
        </a>
    </dl>


</div>
<audio id="audio"></audio>








