
<div class="banner">
    <ul>
        <li><img src="images/banner1.jpg"></li>
        <li><img src="images/banner2.jpg"></li>
        <li><img src="images/banner3.jpg"></li>
        <li><img src="images/banner4.jpg"></li>
    </ul>
    <ol>
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</div>
<div class="tui">
    <div class="name">
        <h5><span></span>推荐歌单</h5>
        <p>更多></p>
    </div>
    <div class="list clearfix" >
        <div style="display: none">

                <dl >
                    <a>
                        <dt><img src="images/18520173860077979.jpg"><i>3万</i></dt>
                        <dd>聆听话语里百听不厌</dd>
                    </a>
                </dl>


        </div>

    </div>
</div>
